{% macro renderTextField(field, name) %}

{% set idErrors = name ~ 'Errors' %}

<div class="form-group">
    <label for="{{id}}">{{field.label}}</label>
    {{ field(class='form-control', **kwargs) | safe }}
<!--    <input type="text" value="{{ field.data if field.data else '' }}" name="{{name}}" class="form-control" id="{{id}}" aria-describedby="{{idErrors}}">-->
    {% for error in field.errors %}
    <small id="{{idErrors}}" class="form-text text-danger">{{error}}</small>
    {% endfor %}
</div>

{% endmacro %}

{% macro renderDropdownField(field, name) %}

{% set idErrors = name ~ 'Errors' %}
{% set id = name ~ 'Id' %}

<div class="form-group">
    <label for="{{id}}">{{ field.label }}</label>
    <select name="{{name}}" id="{{id}}">
        <option value="1">Low</option>
        <option value="2">Middle</option>
        <option value="3">High</option>
    </select>
</div>

{% endmacro %}
