{% extends "parent.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="mx-5 pt-5">

    <div class="w-50">
        <h1 class="bg-secondary display-2">{{task.title}}</h1>
        <h4 class="bg-info ">Category: <a class="text-decoration-none text-success" href="{{ url_for('category_find_by_id', categoryId=task.category_backref.id) }}">{{task.category_backref.name}}</a></h4>

        <p class="bg-warning">Created at {{task.created.strftime("%H:%M on %d-%m-%Y")}}</p>
    </div>

    <hr>

    <blockquote class="blockquote">
        <p class="mb-0">Description: {{task.description}}</p>
    </blockquote>

    <hr>

    {% set priority_color = 'danger' if task.priority.name == 'HIGH' else 'warning' if task.priority.name == 'MEDIUM'
    else 'success' %}

    {% set class = 'icon-check' if task.is_done else 'icon-check-empty' %}

    <div class="d-inline-flex">

        <p class="h3 btn-{{priority_color}} d-inline-flex"><span
                class="">&#x26A0</span>{{task.priority.name[0]}}{{task.priority.name[1:]|lower}} Priority Task
        </p>

        <div class="px-3">
            <i class="h3 {{class}}"> Done</i>
        </div>

    </div>

    <br><br><br>

    <div class="d-inline-flex flex-column">

        <p class="h4 bg-secondary">Responsible for task: </p>

        {% if task.employee_backref|length > 0 %}
        <ul>
            {% for employee in task.employee_backref %}
            <li class="list-group-item"><a class="text-success" href="{{ url_for('employee_find_by_id', employeeId=employee.id) }}">{{employee.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="h4 text-danger">No assignee</p>
        {% endif %}

    </div>

    <br><br><br>

    <div class="d-flex flex-row align-items-start">

        <a class="btn btn-lg btn-primary mr-5" href="{{ url_for('task_update', taskId=task.id) }}">Edit</a>

        <form class="pl-2" method="POST">

            {{ form.csrf_token }}
            <button formaction="{{ url_for('task_delete', taskId=task.id)}}" class="btn b<tn-lg btn-danger"
                    type="submit">Delete
            </button>

        </form>
    </div>

</div>

{% endblock  %}
